@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Roboto:wght@400;700&display=swap');

body {
    position:absolute;
    left:40%;
    top:25%;
    font-family: 'Quicksand', 'Roboto', sans-serif;
    background-color: beige;
}

#calculator {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    border: 3px solid #BD7301;
    padding:15px;
    background-color: #5E605A;
    box-shadow: 5px 9px #42453d;
}

#buttons {
    margin-top: 15px;
}

.buttonlayout {
    margin:10px;
}

button {
    width: 60px;
    height:60px;
    border:1px solid black;
    border-radius: 3px;
    transition: all .15s ease-in-out;
}

button:hover {
    transform: translateY(-0.2rem);
}

button.digit {  
    background-color: #A8A9A5;
}

button.digit:hover {
    background-color: #bbbcb7;

}

button.operation {
    background-color: #F1A26A;
}

button.operation:hover {
    background-color: #efab7b;
}

#display {
    text-align: right;
    border: 4px solid purple;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding:7px;
    padding-bottom:10px;
    height:10px;
    margin:0;
    border-top: none;
    color:white;
    background-color: black;
}

#display2 {
    text-align: right;
    border: 4px solid purple;
    padding:7px;
    height:10px;
    margin:0;
    border-bottom: none;
    color:white;
    background-color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}